
.img-pridepeople {
  width: 1600px;
  top: 87px;
  margin-left: -400px;
}


.bem {
  color: #fd4600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 300;
  left: 1300px;
  top: 300px;
  position: absolute;
}



.vindo {
  color: #3d67ec;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 300;
  left: 1370px;
  top: 300px;
  position: absolute;
}


.ao {
  color: #5cc68b;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 300;
  left: 1450px;
  top: 300px;
  position: absolute;
}


.h1-PrideConnect {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 70px;
  font-weight: bolder;
  left: 1150px;
  top: 350px;
  position: absolute;
}


.inclusao {
  color: #fd4600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 300;
  left: 1100px;
  top: 500px;
  position: absolute;
}


.e {
  color: #f9dc1c;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 300;
  left: 1210px;
  top: 500px;
  position: absolute;
}

.diversidade {
  color: #00a364;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 300;
  left: 1230px;
  top: 500px;
  position: absolute;
}

.no {
  color: #fd4600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 300;
  left: 1380px;
  top: 500px;
  position: absolute;
}

.mercado {
  color: #5036bd;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 300;
  left: 1420px;
  top: 500px;
  position: absolute; 
}


